@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav1 ul {
  text-align: right;
}

.nav1 li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  text-align: right;
}

.nav1 a {
  text-decoration: none;
  color: black;
  text-align: right;
}
.nav2 ul {
  text-align: right;
}

.nav2 li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  text-align: right;
}

.nav2 a {
  text-decoration: none;
  color: black;
  text-align: right;
}

 #slideshow {
  margin: 30px auto;
  position: relative;
  width: 1500px;
  height: 750px;
  padding: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

 p {
   font-size: 15px;
   padding: 0px 100px;
 }
